
<!-- saved from url=(0283)https://raw.githubusercontent.com/danielsson/mvk-server/untested/templates/admin_index.jade?token=2879420__eyJzY29wZSI6IlJhd0Jsb2I6ZGFuaWVsc3Nvbi9tdmstc2VydmVyL3VudGVzdGVkL3RlbXBsYXRlcy9hZG1pbl9pbmRleC5qYWRlIiwiZXhwaXJlcyI6MTM5OTg4NzU1Nn0%3D--32eb0e1bad19a1e54339979c3c04f033f8d5a4fa -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css"></style></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">extends admin/index.html
block body

	h1.main-title LoKI

	hr

	p Welcome to the admin interface for LoKI!</pre></body></html>