extends admin/index.html
block body

	h1.main-title LoKI

	hr

	p Welcome to the admin interface for LoKI!

	br

	p The api documenation is located at:
	a(href="http://docs.loki.apiary.io/") REST API Documentation 