extends admin/layout.html
block body

	h1.main-title Send a message to all connected devices

	hr

	form(action=url_for('.send'), method="POST")
		label Target role
		select.chosen(name='Target')
			for role in roles
				option(value=role.id)= role.title
			option(value=-1)= Alla/Everyone

		br
		input(type="text", name="message")
		input(type="submit")
